html {
  line-height: 1.15;
}

body {
  background-color: black;
  font-size: 1rem;
  margin: 2em;
}

h2 {
  text-align: center;
}

p {
  margin: 1em;
  text-align: justify;
}

.container-layout {
  background-color: #fff8ee;
  border-radius: 1em;
  box-sizing: border-box;
  column-gap: 1em;
  display: grid;
  margin: 1em auto;
  max-width: 64em;
  padding: 1em;
}

.logo-header {
  grid-column: 1/4;
  padding-top: 0.5em;
}

figure {
  letter-spacing: 0.313em;
  margin: 0.375em 0.5em 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.logo {
  margin: 0;
}

hr {
  border-bottom: 1px solid #1c1915;
  border-top: 0.188em solid #1c1915;
  height: 0.125em;
  margin: 0.5em auto;
}

footer {
  color: #745428;
  grid-column: 1/4;
  margin-top: 5%;
  padding: 1em;
  text-align: center;
}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background: yellow;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background: red;
  }
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

.imgfly {
  width: 30%;
}

.fly {
  animation: flying 3s steps(200, jump-none) 3s 3 alternate forwards;
  transform: translateX(-300%);
}

@keyframes flying {

  from {
    transform: translateY(0) translateX(-200%) rotate(30deg);
  }

  to {
    transform: translateY(500%) translateX(400%) rotate(30deg);
  }
}

.rita {
  text-align: center;
  transition: transform 1s;
}

.rita:hover {
  transform: skew(-25deg);
}

.article-animation {
  animation: article-grow 4s linear 3 alternate paused;
}

@keyframes article-grow {

  from {
    font-weight: 100;
    transform: scale(1);
  }

  to {
    font-weight: 500;
    transform: scale(1.5);
  }
}
