html , body {
  background: rgb(37, 37, 37);
  margin: 0;
  padding: 0;

}

h1 {
  font-size: 4em;
  transform: skew(10deg, -3deg) scale(1.5);
  transition-duration: 5s;
}

h2 , h3 , p {
  padding: 10px;
}

.paper {
  background-color: antiquewhite;
  border-radius: 10px;
  display: grid;
  height: 90%;
  margin: 2% auto;
  width: 90%;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1:hover {
  cursor: pointer;

}

.subtitle , section {
  display: flex;
  justify-content: center;
}

section {
  align-items: center;
  flex-direction: column;
}

img {
  align-self: center;
  margin-left: -30%;
  transform: translateX(600px);
  transition-duration: 5s;
  width: 10%;
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
  position: absolute;
}

@keyframes flying {

  from {
    margin-left: -30%;
  }

  to {
    margin-left: 30%;
  }
}

p {
  margin: 0;
}

.nav {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

}

a {
  align-self: center;
  color: black;
  flex: 1 1 20%;
  opacity: 0.9;
  text-align: center;
  text-decoration: none;
}

.article:hover {
  animation-duration: 4s;
  animation-name: grow;
}

@keyframes grow {

  from {
    font-weight: 400;
    width: 100%;
  }

  to {
    font-weight: 900;
    transform: scale(1.5);
    width: 50%;
  }
}

a:hover {
  background-color: rgb(248, 224, 192);
  cursor: pointer;
  opacity: 1;
}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media screen and ( max-width : 760px ) and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}
